*{
    margin: 0;
    padding: 0;
    width: 100%;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
nav a{
    color: #000;
}
#lis-nav{
    display: flex;
    align-items: center;
}
#lis-nav li{
    display: flex;
    width: 150px;  
}
#img-fondo{
    height: 550px;
    width: 100%;
    background-image: url(../img/taxi.jpg);
    background-origin: padding-box;
    background-position: bottom;
    background-size: cover;
    position: absolute;
}

#img-header aside{
    position: relative;
    background-color: #F9A91A;
    color: #fff;
    padding: 20px;
    align-items: flex-start;
    margin-top: 75px;
    margin-bottom: 75px;
}
.logo-bco{
    display: flex;
}
.logo-bco img{
    margin: 0;
    padding: 10px;
}
#text-hr{
    margin: 25px;
}
#telefono{
    background: #F9A91A;
    padding: 20px;
}
#iphone-cont img{
    
    margin: 25px;
}
#detalle-app{
    color: #fff;
    text-align: justify;
    align-items: center;
}

#cont-app{
    float: left;
    border: solid #fff .5px;
    display: flex
}

